*,
::after,
::before {
  box-sizing: border-box;
}
/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap');
html {
  font-size: 100%;
} /*16px*/
@import url(https://fonts.google.com/specimen/Inter);
:root {
  /* colors */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --greyish-blue: hsl(233, 8%, 79%);
  --dark-greyish: hsl(236, 13%, 42%);
  --very-dark-blue:hsl(240, 100%, 5%);
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */
  --headingFont: 'Roboto', sans-serif;
  --bodyFont: 'Nunito', sans-serif;
  --smallText: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
  width: 1300px;
  align-items: center;
}

p {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--smallText);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--soft-orange);
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  display: inline-block;
}

.btn:hover {
  background: var(--soft-orange);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
}
.loading {
  margin: 0 auto;
}
/* title */

.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}

.navbar{
 display: flex;
 justify-content: center;
 align-content: center;

}

.nav-center{
 width: 90vw;
 max-width: var(--max-width);
}

header{
 height: 6rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 100px;
}

.nav-logo{
 display: flex;
 align-items: center;
 padding-right: 80px;
}

.hamburger{
  display: none;
}

.nav-link{
 display: block;
 text-align: center;
 text-transform: capitalize;
 letter-spacing: var(--letterSpacing);
 padding: 1rem 0;
 transition-property: var(--transition);
 transition: var(--transition);
}

.nav-link ul {
  display: flex;
}
.nav-link ul li a{
  display: block;
  color: var(--dark-greyish);
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 5 10px;
}
.nav-link ul li a:hover{
  color: var(--soft-orange);
}
.nav-link ul li a.active {
  color: #11101b;
}
@media only screen and (max-width: 1320px) {
  header{
    padding: 0 50px;
  }
}
  @media only screen and (max-width: 1100px) {
  header{
    padding: 0 30px;
  }
}
@media only screen and (max-width: 900px) {
  .hamburger{
    display: block;
    cursor: pointer;
    color: var(--black);
  }
  .hamburger .line{
    width: 30px;
    height: 3px;
    margin: 6px 0;
    background: var(--black);
  }
.nav-link{
  height: 0px;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  width: 100vw;
  transition: 0.2s;
  overflow: hidden;
 }
 .nav-link.active{
  height: 450px;
 }
.nav-link ul{
  display: block;
  width: fit-content;
  margin: 80px auto 0 auto;
  text-align: center;
  transition: 0.5s;
  opacity: 0;
}
.nav-link.active ul{
  opacity: 1;
}
.nav-link ul li a{
  margin-bottom: 12px;
 }
}
.nav-link:hover{
 color: var(--soft-red);
}
.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  display: none;
}
.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .toggle-button{
    display: flex;
  }

  .nav-link{
    display: none;
    width: 100%;
  }
  .nav{
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-link ul {
    width: 100%;
    flex-direction: column;
  }
  .nav-link li {
    text-align: center;
  }

  .nav-link li a {
    padding: .5rem 1rem;
  }

  .nav-link.acitve {
    display: flex;
  }
}

/* top part styling */
.top{
  gap: 2rem 1rem;
  padding-left: 100px;
}

.read_a{
  gap: 2rem 4rem;
  padding-bottom: 3rem;
  display: flex;
}
.read_me{
  display: grid;
  padding-bottom: 3rem;
  height: 220px;
  width: 110px;  
}

.img{
  height: 250px;
  width: 650px;
}

@media only screen and (max-width: 375px) {
  .page{
    display: flex;
    flex-direction: column;
  }
  .top{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 70%;
  }
  .read_a{
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
  }
  .img{
    height: 150px;
    width: 325px;
  }
}

@media only screen and (max-width: 800px) {
  .page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .top{
    width: 485px;
    height: 1400px;
    align-items: flex-start;
  }
  #read_a{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    width: 485px;
  }
  .img{
    height: 330px;
    width: 485px;
  }
  .bright{
    display: flex;
    flex-direction: column;
    width: 485px;
    text-align: justify;
    justify-items: auto;
  }
  .read_morelink{
    width: 485px;
  }
  .bright h1{
    align-items: center;
    font-size: large;
  }
  .new{
    margin-top: 500px;
    align-items: flex-start;
  }
}

.bright{
  display: flex;
  padding-top: 2rem;
}
.bright h1{
  text-align: start;
  width: 18rem;
  font-size: 2.5rem;
  font-weight: 1000;
}

.bright p{
  text-align: start;
  width: 20rem;
  font-size: 15px;
}
.read_morelink{
  display: flex;
  flex-direction: row;
}
.btn{
  position: relative;
  height: 40px;
  background-color: var(--very-dark-blue);
}

.new{
  background: var(--very-dark-blue);
  height: 450px;
  width: 390px;
  display: flex;
  font-size: 30px;
  padding: 2rem;
  position: relative;
  margin-left: 510px;
}
.news_wrap{
  height: 400px;
  width: 350px;
  align-items: center;
}
.news_wrap h1{
 color: var(--soft-orange);
 font-size: 30px;
 font-weight: 7000;
 
}
.news_wrap h3{
  color: var(--off-white);
  font-size: 17px;
  font-weight: 800;
}
.news_wrap h3:hover{
  color: var(--soft-orange);
}
.news_wrap p{
  color: var(--off-white);
  font-weight: 200;
  font-size: 15px;
}

.bottom{
  align-items: center;
  display: inline;
  width: 1310;
}
.bottom_wrap{
  height: 180px;
  display: flex;
  gap: 2rem 1rem;
  margin-left: 6rem;
  margin-top: 1rem;
  align-items: baseline;
  align-content: space-between;
  width: 70px;
}
.bottom_options{
  display: flex;
  height: 250px;
  width: 350px;
}

@media screen and (max-width: 800px) {
  .bottom{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    }

  .bottom_wrap{
  height: 900px;
  display: grid;
  gap: 1rem 0.5rem;
  align-items: center;
  align-content: center;
  width: 485px;
    }
}

@media screen and (max-width: 400px) {
  .bottom{
    align-items: center;
    display: grid;
    font-size: 10px;
    }

  .bottom_wrap{
  height: 95px;
  display: grid;
  gap: 1rem 0.5rem;
  margin-left: 6rem;
  margin-top: 1rem;
  align-items: center;
  align-content: center;
  width: 40px;
    }
}

.bottom_options h2{
  color: var(--greyish-blue);
  font-size: 25px;
  font-weight: 900;
}
.bottom_options h3{
  font-size: 14.5px;
  color: var(--very-dark-blue);
  font-weight: 900;
  font-display: bold;
}
.bottom_options h3:hover{
  color: var(--soft-red);
}
.bottom_options p{
  font-size: 13px;
}

.bottom_options img{
  width: 90px;
  height: 140px;
}

.bottom_grid{
  width: 15rem;
  height: 130px;
  margin-left: 2.0rem;
}

